html, body{
    background-image:url(space1.png);
    background-repeat: no-repeat;
    background-size:cover;
    height:100%;
    
}
.solar_system{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
    
}
.sun img{
    position:absolute;
    height: 240px;
    width: 240px;
    
}
.sun{
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px orangered;
    border-radius:100%;
    height: 160px;
    width: 160px;
}

/* animacje */
@keyframes mercury_revolve {
    from{
    transform: rotate(0deg)translate(0,200px)rotate(0deg);
    }
    to{
    transform: rotate(360deg)translate(0,200px)rotate(-360deg);
    }
}
@keyframes venus_revolve {
    from{
    transform: rotate(0deg)translate(0,300px)rotate(0deg);
    }
    to{
    transform: rotate(360deg)translate(0,300px)rotate(-360deg);
    }
}
@keyframes earth_revolve {
    from{
    transform: rotate(0deg)translate(0,400px)rotate(0deg);
    }
    to{
    transform: rotate(360deg)translate(0,400px)rotate(-360deg);
    }
}
@keyframes mars_revolve {
    from{
    transform: rotate(0deg)translate(0,550px)rotate(0deg);
    }
    to{
    transform: rotate(360deg)translate(0,550px)rotate(-360deg);
    }
}
@keyframes jupiter_revolve {
    from{
    transform: rotate(0deg)translate(0,800px)rotate(0deg);
    }
    to{
    transform: rotate(360deg)translate(0,800px)rotate(-360deg);
    }
}
@keyframes saturn_revolve {
    from{
    transform: rotate(0deg)translate(0,1000px)rotate(0deg);
    }
    to{
    transform: rotate(360deg)translate(0,1000px)rotate(-360deg);
    }
}
@keyframes uranus_revolve {
    from{
    transform: rotate(0deg)translate(0,1200px)rotate(0deg);
    }
    to{
    transform: rotate(360deg)translate(0,1200px)rotate(-360deg);
    }
}
@keyframes neptune_revolve {
    from{
    transform: rotate(0deg)translate(0,1400px)rotate(0deg);
    }
    to{
    transform: rotate(360deg)translate(0,1400px)rotate(-360deg);
    }    
}
@keyframes moon_revolve{
    from{
        transform: rotate(0deg)translate(0,60px)rotate(0deg);
        }
        to{
        transform: rotate(360deg)translate(0,60px)rotate(-360deg);
        }  
}
/* orbity i planety */

/* mercury */
.o_mercury{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 400px;
    width: 400px;
    border:1px solid whitesmoke;
    border-radius:100%;
    box-shadow: 0 0 2px whitesmoke, inset 0 0 2px whitesmoke;
    
}
.o_mercury img{
    position:absolute;
    animation-name: mercury_revolve;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 50px;
    width: 50px;
}

#mercury_name{
    color: white;
    font-size: 4px;
    font-family: 'Varela Round', sans-serif;
}
/* venus */
.o_venus{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 600px;
    width: 600px;
    border:1px solid whitesmoke;
    border-radius:100%;
    box-shadow: 0 0 2px whitesmoke, inset 0 0 2px whitesmoke;
    
}
.o_venus img{
    position:absolute;
    height:70px;
    width: 70px;
    animation-name: venus_revolve;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
/* earth */
.earthimg{
    position:absolute;
    height:80px;
    width: 80px;
    
    box-shadow: 0 0 10px black;
    border-radius:40px;
}
.earth{
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    height:120px;
    width:120px;
    border:1px solid whitesmoke;
    border-radius:100%;
    animation-name: earth_revolve;
    animation-duration: 22s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    box-shadow: 0 0 2px whitesmoke, inset 0 0 2px whitesmoke;
}
.o_earth{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 800px;
    width: 800px;
    border:1px solid whitesmoke;
    border-radius:100%;
    box-shadow: 0 0 2px whitesmoke, inset 0 0 2px whitesmoke;
    
}
.moon{
    height:35px;
    width:35px;
    animation-name: moon_revolve;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/* mars */
.o_mars{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 1100px;
    width: 1100px;
    border:1px solid whitesmoke;
    border-radius:100%;
    box-shadow: 0 0 2px whitesmoke, inset 0 0 2px whitesmoke;
    
}
.o_mars img{
    position:absolute;
    height:60px;
    width: 60px;
    animation-name: mars_revolve;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    box-shadow: 0 0 10px black;
        border-radius:100%;
}
/* jupiter */
.o_jupiter{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 1600px;
    width: 1600px;
    border:1px solid whitesmoke;
    border-radius:100%;
    box-shadow: 0 0 2px whitesmoke, inset 0 0 2px whitesmoke;
    
}
.o_jupiter img{
    position:absolute;
    height:150px;
    width: 150px;
    animation-name: jupiter_revolve;
    animation-duration: 45s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    box-shadow: 0 0 10px black;
        border-radius:100%;
}
/* saturn */
.o_saturn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 2000px;
    width: 2000px;
    border:1px solid whitesmoke;
    border-radius:100%;
    box-shadow: 0 0 2px whitesmoke, inset 0 0 2px whitesmoke;
    
}
.o_saturn img{
    position:absolute;
    height:130px;
    width: 260px;
    animation-name: saturn_revolve;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/* uranus */
.o_uranus{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 2400px;
    width: 2400px;
    border:1px solid whitesmoke;
    border-radius:100%;
    box-shadow: 0 0 2px whitesmoke, inset 0 0 2px whitesmoke;
    
    
}
.o_uranus img{
    
        position:absolute;
        height:140px;
        width: 140px;
        animation-name: uranus_revolve;
        animation-duration: 105s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        
}
/* neptune */
.o_neptune{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 2800px;
    width: 2800px;
    border:1px solid whitesmoke;
    border-radius:100%;
    box-shadow: 0 0 2px whitesmoke, inset 0 0 2px whitesmoke;
    
}
.o_neptune img{
    
        position:absolute;
        height:142px;
        width: 270px;
        animation-name: neptune_revolve;
        animation-duration: 120s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        
}
img{
    filter: brightness(90%)
}